@import url(../vendor/normalize.css);

/* font-family: 'Noto Serif', 'Times New Roman', serif; */
* {
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

/* Header Section */
.header {
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #FFFFFF;
  background-image: url('/images/background_header.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  width: 125px;
  height: 142px;
  margin-left: 30px;
  margin-top: 30px;
}

.nav__links {
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
  margin-right: 80px;
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}

.nav__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: #2F80ED;
}

.header__title {
  margin-top: 80px;
  margin-left: 80px;
  margin-bottom: 0px;
  max-width: 729px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  display: block;
  color: #2F80ED;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0px 80px 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
}

.header__pargraph {
  margin: 0;
  padding: 0;
  color: #6f6f6f;
}

/* Menu Section */
.menu {
  background-color: #0a2750;
  background-image: url('/images/background_menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #ffffff;
}

.menu__title {
  max-width: 780px;
  margin: auto;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin: 24px auto 0;
  text-align: center;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  max-width: 1300px;
  margin: 100px auto 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-gap: 100px;
}

.card {
  max-width: 600px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.card__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card_list {
  margin: 0;
  padding-left: 0px;
}

.card__list-item {
  list-style: none;
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 16px;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}

.card__list-divider {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px solid #FFFFFF;
  margin: 5px 10px;
}

/* Recipes Section */
.recipes {
  padding-top: 100px;
  padding-bottom: 215px;
  background-color: #FFFFFF;
  background-image: url('../images/background_recipes.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  margin-left: 80px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 480px;
  margin-top: 24px;
  margin-left: 80px;
  margin-bottom: 80px;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}





















